.graph-modal {

  // .graph-modal__container

  &__container {
    width: rem(890);
    padding: 0;

    @media (max-width: $breakpoint992) {
      width: 90%;
    }
  }

  // .graph-modal__close

  &__close {
    top: 34px;
    right: 34px;
    width: 16px;
    height: 16px;
    background-image: url('../img/icons/close-modal.svg');
    background-repeat: no-repeat;
    background-size: contain;
    outline: 0;

    @media (max-width: $breakpoint768) {
      top: 10px;
      right: 10px;
    }
  }

  // .graph-modal__content

  &__content {}
}

.btn-reset {}

.js-modal-close {}

.edit-post {
  max-width: rem(890);
  padding: rem(55);
  margin: 0 auto;

  @media (max-width: $breakpoint992) {
    padding: rem(40);
  }

  @media (max-width: $breakpoint768) {
    padding: rem(20);
  }

  // .edit-post__title

  &__title {
    margin-bottom: rem(35);
    text-align: center;
  }

  // .edit-post__form

  &__form {}

  // .edit-post__header

  &__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(25) rem(20);
    margin-bottom: 25px;

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__header-radio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(25) rem(20);
    margin-bottom: 25px;

    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .edit-post__group

  &__group {}

  // .edit-post__datepicker

  &__datepicker {
    position: relative;

    & .ui-datepicker-trigger {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }

  // .edit-post__datepicker-input

  &__datepicker-input {}

  // .edit-post__label

  &__label {
    white-space: nowrap;
  }

  // .edit-post__input

  &__input {}

  // .edit-post__select

  &__select {
    width: 100%;
    outline: 0;
    border-radius: 10px;
    background-color: var(--white-color);
    font-weight: 600;
    font-size: rem(16);
    line-height: rem(22);
    color: var(--text-color);

    &:disabled {
      user-select: none;
      pointer-events: none;
      color: var(--grey-color);

      &~label {
        color: var(--grey-color);
      }
    }

    &.js-error {
      border: 1px solid var(--red-color);
      color: var(--red-color);
    }
  }

  // .edit-post__select-option

  &__select-option {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: rem(16);
    line-height: rem(22);
    color: var(--text-color);
  }

  // .edit-post__group--radio

  &__group--radio {}

  // .edit-post__type

  &__type {}

  // .edit-post__radio-label

  &__radio-label {

    &:not(:last-child) {
      margin-right: rem(10);
    }
  }

  // .edit-post__radio

  &__radio {}

  // .edit-post__radio-decor

  &__radio-decor {}

  // .edit-post__radio-descr

  &__radio-descr {}

  // .edit-post__middle

  &__middle {
    margin: rem(25) 0;
  }

  // .edit-post__middle-top

  &__middle-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(25) rem(20);
    margin-bottom: 25px;

    & .edit-post__group--radio {
      flex-wrap: wrap;
    }

    & .edit-post__type {
      flex: 0 1 100%;
    }

    @media (max-width: $breakpoint992) {
      grid-template-columns: repeat(1, 1fr);

      & .edit-post__group--radio {
        flex-wrap: wrap;
      }

      & .edit-post__type {
        flex: 0 1 100%;
        margin-right: 0;
        margin-bottom: em(10);
      }
    }

    @media (max-width:370px) {

      .edit-post__label {
        left: 0;
        font-size: 9px;
      }
    }
  }

  // .edit-post__middle-bottom

  &__middle-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(25) rem(20);

    @media (max-width: $breakpoint768) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .edit-post__footer

  &__footer {
    display: flex;
    flex-wrap: wrap;
    gap: rem(25) rem(20);
  }

  // .edit-post__btn

  &__btn {
    flex: 1 1 calc(70% - rem(20));

    @media (max-width: $breakpoint768) {
      flex: 0 1 100%;
    }
  }

  // .edit-post__btn-delete

  &__btn-delete {
    flex: 0 0 calc(30% - rem(20));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10);
    height: 62px;
    border: 1px solid var(--grey-color);
    border-radius: 10px;
    font-weight: 600;
    z-index: rem(16);
    line-height: rem(22);
    color: var(--grey-color);

    @media (max-width: $breakpoint768) {
      flex: 0 1 100%;
    }
  }

  // .edit-post__save

  &__save {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
  }

  // .edit-post__delete

  &__delete {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    font-weight: 600;
    z-index: rem(16);
    line-height: rem(22);
    color: var(--grey-color);
  }
}